# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.python-version

# Poetry / venv
.venv/
poetry.toml

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Builds / dist
build/
dist/

# Env & secrets
.env
.env.*
!/.env.example

# Docker artifacts
**/.dockerignore
