---
extends: default

rules:
  line-length:
    max: 80
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  new-line-at-end-of-file: disable
  new-lines: disable

ignore: |
  .venv/
  venv/
  node_modules/
  *.egg-info/
